.projects-section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.projects-section h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  border-radius: 6rem;
}

.project img {
  width: 100%;
  object-fit: cover;
  max-height: 20rem;
}
.project__details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background: var(--white-color);
  padding: 1rem;
}
.project__details-container h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.project__details-container p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.project__details-container h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.project__details-container button {
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.project__tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.project__tech-img {
  margin: 0 0.3rem;
  width: 5rem;
}

.project__tech-img img {
  width: 100%;
  object-fit: contain;
}
.button-links__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-btn {
  margin: 0 1rem;
  width: 10rem;
}
.links-btn span {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 0;
}

@media screen and (max-width: 780px) {
  .project {
    width: 40%;
  }
}
@media screen and (max-width: 640px) {
  .project {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  .project {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .project {
    width: 90%;
  }
}
@media screen and (max-width: 380px) {
  .project {
    width: 95%;
  }
}
