.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.nav__logo {
  width: 12rem;
  object-fit: contain;
  cursor: pointer;
}
.portfolio-dev {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.portfolio-dev span {
  font-size: small;
  color: #261b14;
  font-weight: 600;
}
.portfolio-icon {
  font-size: 4.5rem;
  color: var(--white-color);
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__list--lg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-right: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  font-weight: 600;
}
.nav__sm {
  display: none;
}
.nav__sm-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 97px;
  right: 0;
  width: 15rem;
  background: var(--white-color);
  padding: 2rem 0.5rem;
}
.nav__list--sm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  /* color: var(); */
}

@media screen and (max-width: 480px) {
  .nav {
    padding: 1rem 2rem;
  }
  .nav__sm {
    display: block;
  }
  .nav__list--lg {
    display: none;
  }
  .nav__logo {
    display: none;
  }
  .nav-list {
    margin-left: auto;
  }
}
