.banner {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}
.banner__title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.banner__title-container h1 {
  font-size: 4.5rem;
  line-height: 7rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.banner__title-container h1 span {
  font-size: 5rem;
}
.title__summary {
  max-width: 80%;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.title__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 4rem;
}
.btn-icon {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.banner__hero-container {
  display: flex;
  flex: 1;
}
.banner__hero-container img {
  width: 80%;
  object-fit: contain;
}
@media screen and (max-width: 1100px) {
  /* .banner {
    margin-top: -4rem;
  } */
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    margin-top: 6rem;
  }
  .title__btn {
    margin-bottom: 0;
  }
  .banner__hero-container img {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    margin-top: 1.5rem;
    padding: 2rem;
  }
  .banner__title-container h1 {
    font-size: 3.5rem;
    line-height: 6rem;
  }
  .banner__title-container h1 span {
    font-size: 4rem;
  }
}
